* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.tdRow {
  text-align: end;
  display: flex;
  justify-content: end;
  gap: 10px;
}

.completed {
  text-decoration: line-through;
}

form {
  display: flex;
  gap: 10px;
  width: 80%;
  margin: auto;
}

.container {
  width: 43%;
  max-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #FFC436;
  align-items: center;
  border-radius: 25px;
  padding: 15px;

}


.thAction{
  text-align: end !important;
}
.input-groupe,
.table,.input-edit {
  width: 80%;
}
#root {
  height: 92vh;
}
p {
  margin-top: 0;
  margin-bottom: 0;
}
body{
  background-color: #191D88;
}
button{
  background-color: #191D88 !important;
  border: none !important;
}
h2{
  padding: 15px;
  font-weight: 900;
  font-size: 30px;
  color: #191D88;
}